*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	padding: 36px 0 39px;
	background: #e0afbb url(/assets/images/background.png) 0 0 repeat fixed;
	font-family: 'EB Garamond', serif;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 1.3;

	@media (min-width: 768px) {
		padding-bottom: 3em;
	}
}

.content-wrap {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: 768px) {
		max-width: 1400px;
	}
}

.page-layout {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;

	&--one-up {
		align-items: center;
	}

	> li {
		display: inline-flex;
		align-items: flex-start;
		width: 100%;

		&:nth-child(odd) {
			padding: 1em 0;
		}

		@media (min-width: 768px) {
			width: 50%;

			&:nth-child(odd) {
				width: 45%;
				max-width: 600px;
			}

			&:nth-child(even) {
				width: 55%;
				flex-grow: 1;
			}

			margin-bottom: 3em;
		}
	}

	img {
		max-width: 100%;
	}
}

.paper {
	min-width: 320px;
	display: flex;
	flex-flow: column nowrap;
	align-self: stretch;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0 8%;
	text-align: center;

	&__border {
		width: 100%;
		flex-grow: 0;
		display: block;
		margin: -.3px 0px;
		opacity: .9;
	}

	&__inner {
		flex-grow: 1;
		padding: 1.4em;
		background: rgba(255, 255, 255, .9);

		@media (min-width: 1200px) {
			padding: 2.1em;
		}
	}
}

a {
	color: #3C3C3C;
	text-decoration: none;
	border-bottom: 1px solid;
	transition: border-color .1s, color .1s;

	&:hover {
		color: #5D5D5D;
	}
}

.form-rows {
	list-style-type: none;
	padding: 0;
	margin: 1em 0 0;
}

.form-row {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	& + & {
		margin-top: 1em;
	}

	&.with-cta {
		flex-flow: row nowrap;
		justify-content: flex-end;
	}

	&.with-postfix {
		flex-flow: row nowrap;

		input {
			flex-grow: 1;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: 0 none;
		}

		.postfix {
			flex-grow: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.with-login {
	position: relative;

	.login-form {
		position: absolute;
		left: 20%;
		right: 20%;
		top: 60%;
		text-align: center;
		font-size: .7em;

		@media (min-width: 480px)  and (max-width: 767px), (min-width: 840px) {
			font-size: 1em;
		}
	}
}

input {
	color: #3C3C3C;
	border: 0 none;
	border-bottom: 1px solid;
	padding: .5em .25em;
	text-transform: uppercase;
	text-align: center;
	width: (230em/20);
	margin: 0 auto;

	&:focus {
		outline: 0 none;
	}
}

.button {
	display: inline-block;
	color: #3C3C3C;
	background: transparent;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: (14em/20);
	padding: (17em/14) 0;
	width: (230em/14);
	border: 1px solid #000;
	margin: 0 auto;
	transition: background-color .1s, color .1s;

	&:hover {
		background: #545454;
		color: white;
	}
}

.bulleted {
	padding-left: 1.5em;
	text-align: left;
}

.with-cta {
	margin-top: 2em;
}

.timetable {
	font-size: 1.1em;
	overflow: hidden;
	text-align: left;

	dt {
		clear: left;
		text-align: center;
		font-weight: bold;
		padding-right: .5em;

		&::after {
			content: '-';
			font-weight: normal;
			margin-left: .5em;
		}
	}

	dd {
		
		margin: 0;
		text-align: center;
	}

	@media (min-width: 1080px) {
		dt {
			float: left;
			width: 50%;
			text-align: right;
		}
		dd {
			float: left;
			width: 50%;
			text-align: left;
		}
	}
}

.faqs {
	h3 {
		margin: 1.3em 0 0;
		font-size: 1.1em;
	}

	p {
		margin: 0.5em 0;
	}
}

.nav-bar {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: -1px;
	background: #fff;
	padding: 0 1em;

	@media (min-width: 768px) {
		display: block;
	}

	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 66px;

		a {
			display: block;
			border-bottom-width: 0;

			&.active {
				border-bottom-width: 1px;
			}
		}
	}
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.iframe-wrapper {
	iframe {
		overflow: hidden;
	}
}

iframe {
        min-width: 100%; 
        width: 100px;
        *width: 100%; 
}
