html,
body {
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font: 62.5%/1.6 Helvetical, Arial, sans;
	overflow-x: none;
	overflow-y: scroll;
}

body {
	font-size: 1.6rem;
}

h1 {
	margin: 0;
	line-height: 44px;
}

h2 {
	margin-top: 0;
}

.sky {
	top: -22px;
	bottom: auto;
	width: 200%;
	z-index: 1;
	display: flex;
	flex-flow: row nowrap;
}

.cloud {
	height: 60px;
	width: 160px;
	margin: 60px 200px 0 40px;
}

.cloud:nth-child(odd) {
	margin-top: 110px;
}

.cloud:nth-child(3n) {
	margin-left: 160px;
	margin-right: 220px;
}

.cloud:nth-child(5n-3) {
	margin-top: 80px;
}

.ground {
	z-index: 5;
	width: 600vw;
	min-width: 6000px;
	height: 60px;
}

.block {
	position: absolute;
	left: 50%;
	bottom: -10px;
	height: 200px;
	width: 100px;
}

.ending {
	position: absolute;
	right: 50vw;
	margin-right: -200px;
	bottom: 52px;
}

.hang-left {
	transform: translateX(-40vw);
}

.dave {
	position: fixed;
	bottom: 54px;
	left: 50%;
	height: 200px;
	width: 160px;
	margin-left: -80px;
	z-index: 5;
	transition: bottom .3s ease-out;
}

.jump {
	bottom: 240px;
}

.must-clear {
	bottom: 240px;
	transition: none;
}

.welcome {
	position: fixed;
	top: 15%;
	left: 0;
	right: 0;
	width: 80%;
	max-width: 600px;
	margin: auto;
	z-index: 6;
}

.castle {
	position: relative;
	width: 400px;
	height: 400px;
	z-index: 9;
}

.guests {
	position: absolute;
	bottom: 360px;
	left: 0;
	right: 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
