html {
	background: #aaf;
}

.sticky-header {
	background: #444;
	color: #eee;
}

.cloud {
	background: url('/assets/images/mario/cloud-1.png') no-repeat 50% 50%;
	background-size: contain;
	
	&:nth-child(3n + 1) {
		background-image: url('/assets/images/mario/cloud-1.png');
	}

	&:nth-child(3n + 2) {
		background-image: url('/assets/images/mario/cloud-2.png');
	}

	&:nth-child(3n + 2) {
		background-image: url('/assets/images/mario/cloud-3.png');
	}
}

.dave {
	background: url('/assets/images/mario/dave-sprite.png') no-repeat 0 100%;

	&.walk-1 {
		background-position: -160px 100%;
	}

	&.walk-2 {
		background-position: -320px 100%;
	}

	&.jump {
		background-position: -480px 100%;
	}

	&.celebrate {
		background-position: -640px 100%;
	}
}

.ground {
	background: url('/assets/images/mario/floor-top.png') repeat-x 0 0, url('/assets/images/mario/floor.png') repeat-x 0 17px;
	background-size: 80px;
}

.block {
	background: url('/assets/images/mario/pipe.png') no-repeat 50% 100%;
	background-size: contain;
}

.welcome {
	padding: 2em;
	background: orange;
	border: 5px solid #844;
	color: #844;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	text-align: center;
	font-family: serif;
	font-size: 1.1em;
}

.continue {
	font-size: 1.6em;
	color: inherit;
}

.castle {
	background: url('/assets/images/mario/castle.png') no-repeat 50% 100%;
	background-size: contain;
}

.bounce-up {
	animation: bounce-up 1.25s forwards;
	pointer-events: none;
}

@keyframes bounce-up {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(20px);
		opacity: 1;
	}
	100% {
		transform: translateY(-200%);
		opacity: 0;
	}
}