html {
	background: #aaf;
}

.sticky-header {
	background: #444;
	color: #eee;
}

.cloud {
	background: white;
	border-radius: 20px;
}

.dave {
	background: red;
}

.ground,
.block {
	background: brown;
}

.ending h2 {
	font-size: 6em;
	padding: .5em;
	margin: 0;
	line-height: 1;
}

.welcome {
	padding: 2em;
	background: orange;
	border: 5px solid #844;
	color: #844;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	text-align: center;
	font-family: serif;
	font-size: 1.1em;
}

.continue {
	font-size: 1.6em;
	color: inherit;
}

.bounce-up {
	animation: bounce-up 1.25s forwards;
	pointer-events: none;
}

@keyframes bounce-up {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(20px);
		opacity: 1;
	}
	100% {
		transform: translateY(-200%);
		opacity: 0;
	}
}